.list-left {
	white-space: normal;
	width: 70%;
	display: inline-block;
}

.list-left p{
	padding-right: 5px;
	height: 47px;
}

.list-right {
	display: inline-block;
	vertical-align: top;
	width: 30%;
}

.list-right img {
	border-radius: 5px;
	width: 100%;
}

.news-title{
	padding-bottom: 5px;
	white-space: normal;
}

.news-info{
	padding-top: 5px;
}

.imgs-three{
	display: flex;
    justify-content: space-between;
    height: 80px;
}
